[Ll]ibrary/
[Tt]emp/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
[Rr]ecordings/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]eleases/
[Aa]ssets/[Aa]ssetStoreTools/
[Aa]ssets/[Aa]ssetStoreTools*
[Ss]erver/[Bb]uild/
[Tt]est[Rr]esults/
[Nn]uget[Mm]igration[Ll]og.txt
*.csproj
*.sln
*.slnx
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
.DS_Store
